PhysiciansData/*
.venv/*
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.DS_Store
*.egg-info/
*.egg
dist/
build/
*.coverage
.coverage.*
*.mypy_cache/
*.pytest_cache/
*.tox/
*.ipynb_checkpoints
*.vscode/
*.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.swm
*.swn
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.tgz
*.xz
*.tar
*.tar.bz2
*.tar.xz
*.dmg
*.iso
*.apk
*.exe
*.dll
*.ipynb